<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/overview.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/background.css') }}" media="screen">
</head>
<body>
<div class="context">
    <table>
        <tr><td colspan="9"><div class="empty-card"></div></td></tr>
        <tr>
            <td colspan="3"></td>
            <td colspan="3">
                <button class="navbar-btn blue"><span>Transactions</span></button>
            </td>
        </tr>
    </table>
    </div>


<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >

</body>
</html>


