<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/overview.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/background.css') }}" media="screen">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
</head>
<body>
<div class="context">
    <table>
    <tr><td colspan="8"><h1 class="title">Finance Calculator</h1></td></tr>
        <tr><td colspan="8"><hr class="solid"></td></tr>
        <tr>
            <td colspan="2">
                <button class="navbar-btn blue"><span>Overview</span></button>
            </td>
            <td colspan="2">
                <button class="navbar-btn blue"><span>Transactions</span></button>
            </td>
            <td colspan="2">
                <button class="navbar-btn blue"><span>Student Finance</span></button>
            </td>
            <td colspan="2">
                <button class="navbar-btn blue"><span>Accommodation</span></button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="navbar-btn blue"><span>Subscriptions</span></button>
            </td>
            <td colspan="2">
                <button class="navbar-btn blue"><span>Settings</span></button>
            </td>
        </tr>

        <tr><td colspan="8"><hr class="solid"></td></tr>
        <tr>
            <td colspan="2">
                <div class="card">
                    <h1>Balance</h1>
                    <p>£{{ balance }}</p>
                </div>
            </td>
            <td colspan="2">
                <div class="card">
                    <h1>Weekly Allowance Amount</h1>
                    <p>£{{ weekly_amount }}</p>
                </div>
            </td>
            <td colspan="2">
                <div class="card">
                    <h1>Weekly Allowance Left</h1>
                    <p>£{{ weekly_left }}</p>
                </div>
            </td>
            <td colspan="2">
                <div class="card">
                    <h1>Connected Account</h1>
                    <img src="{{ url_for('static', filename='starling-bank-logo.png') }}" alt="Starling Bank Logo" style="margin: 5px; width: 11em; ">
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="card">
                    <button class="btn blue"><span>More Info</span></button>
                    <h1 >Student Finance</h1>
                    <p><strong>Total</strong><br>£{{ sfe_total }}</p>
                    <p><strong>1st Instalment</strong><br>£{{ sfe_1st }}</p>
                    <p><strong>2nd Instalment</strong><br>£{{ sfe_2nd }}</p>
                    <p><strong>3rd Instalment</strong><br>£{{ sfe_3rd }}</p>
                </div>
            </td>
            <td colspan="5" rowspan="90">
                <div class="card">
                    <button class="btn blue"><span>View All Transactions</span></button>
                    <h1>Recent Transactions</h1>
                    <br>
                    <table class="transactions">
                        <tr>
                            <td><p><strong>Party</strong></p></td>
                            <td><p><strong>Reference</strong></p></td>
                            <td><p><strong>Amount</strong></p></td>
                        </tr>
                        {% for transaction in transactions %}
                            <tr>
                                <td><p>{{ transaction["counterPartyName"].title() }}</p></td>
                                <td><p>{{ transaction["reference"].title() if "reference" in transaction else "No Reference" }}</p></td>
                                <td><p>{{"+" if transaction["direction"] == "IN" else "-"}} {{transaction["amount"]["minorUnits"] / 100 }} {{ transaction["amount"]["currency"] }}</p></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="card">
                    <button class="btn blue"><span>More Info</span></button>
                    <h1 >Accommodation</h1>
                    <p><strong>Total</strong><br>£{{ accommodation_total }}</p>
                    <p><strong>1st Instalment</strong><br>£{{ accommodation_1st }}</p>
                    <p><strong>2nd Instalment</strong><br>£{{ accommodation_2nd }}</p>
                    <p><strong>3rd Instalment</strong><br>£{{ accommodation_3rd }}</p>
                </div>
            </td>
        </tr>
        <tr><td colspan="3"><div class="empty-card"></div></td></tr>
    </table>
    </div>


<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >

</body>
</html>


