<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/overview.css') }}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
</head>
<body>
    <table>
        <tr>
            <td>
                <div class="card">
                    <h1>Balance</h1>
                    <p>£2000.00</p>
                </div>
            </td>
            <td>
                <div class="card">
                    <h1>Student Finance - Total</h1>
                    <p>£9000.00</p>
                </div>
            </td>
            <td>
                <div class="card">
                    <h1>Student Finance - Next Instalment</h1>
                    <p>£3000.00</p>
                </div>
            </td>
            <td>
                <div class="card">
                    <h1>Accommodation - Next Instalment</h1>
                    <p>£2000.00</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <h1>Something</h1>
                    <p>Some Value</p>
                </div>
            </td>
            <td colspan="3" rowspan="90">
                <div class="card">
                    <h1>Recent Transactions</h1>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                    <p>Transaction - £10.00</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <h1>Something</h1>
                    <p>Some Value</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <h1>Something</h1>
                    <p>Some Value</p>
                </div>
            </td>
        </tr>
        <tr><td><div class="empty-card"></div></td></tr>
    </table>
</div>


</body>
</html>


