html {
  font-size: 11px;
}

body {
  background-color: #F5F7FA;
  font-family: Oswald, sans-serif;
  border: 50px solid #F5F7FA;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 10px 0;
}

hr.solid {
  border-top: 3px solid #bbb;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  vertical-align: top;
}

/*table, th, td {*/
/*  border: 1px solid black;*/
/*  border-collapse: collapse;*/
/*}*/

p {
  font-weight: 200;
}

.empty-card {
  width: calc(100% - 6rem); /* MAKE SURE TO CHANGE TO MATCH CARD */
  padding: 20rem 2rem;
  margin: 1rem;
}
.card {
  font-size: 11px;
  width: calc(100% - 6rem); /* 4 + (2 x Margin) = The Value in em */
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 2rem 2rem;
  margin: 1rem; /* Border between cards */
}

.card p {
  color: #858e99;
  font-size: 17px;
}

.card .bigger {
  font-size: 20px;
}

.card .heading {
  color: #5c6269;
  font-size: 20px;
}

.card:hover {
  box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
}

.btn {
  font-family: Oswald, sans-serif;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  transition: all 0.5s;
  text-align: center;
  width: fit-content;
  margin: 5px;
  vertical-align:middle
}

.navbar-btn {
  font-family: Oswald, sans-serif;
  font-size: 18px;
  border: none;
  background-color: inherit;
  border-radius: 15px;
  width: calc(100% - 2rem);
  margin: 1rem;
  padding: 14px 2rem;
  cursor: pointer;
  display: inline-block;
  transition: all 0.5s;
  text-align: center;
  vertical-align:middle
}

.card .btn {
  float: right;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -50px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 14px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.blue {
  color: white;
  background: #0070BA;
}

.blue:hover {
  background: #003087;
}

.navbar-colour {
  color: white;
  background: #ddff00;
}

.navbar-colour:hover {
  background: #dd00ff;
}

.transactions {
  display: flex;
  justify-content: space-between;
  text-align: left;
}